<?xml version="1.0" encoding="utf-8"?>
<AppPrefs xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" TrayRootDirectory="F:\我的文档\Corel\Corel Content\Trays">
  <AppFrame Width="1448" Height="848" X="-4" Y="-4" FlipGripState="eExpanded" SearchWindowHeight="634*" FavoritesWindowHeight="170*">
    <SearchWindow FlipGripState="eExpanded" PanelWidth="175*" ResultsWidth="1261*" ZoomRatio="120">
      <Panel LibraryCollapsed="false" FavoritesCollapsed="false" FoldersCollapsed="false" LibrarySize="193.33333333333337" FavoritesSize="193.33333333333337" FoldersSize="193.33333333333326" />
    </SearchWindow>
  </AppFrame>
  <SearchDocker>
    <SearchWindow FlipGripState="eCollapsed" PanelWidth="0*" ResultsWidth="250*" ZoomRatio="120">
      <Panel LibraryCollapsed="false" FavoritesCollapsed="false" FoldersCollapsed="false" LibrarySize="195.33333333333337" FavoritesSize="195.33333333333337" FoldersSize="191.33333333333326" />
    </SearchWindow>
  </SearchDocker>
  <GeneralSettings FavoritesCustomized="false" />
  <FilterSettings Folders="true" Vectors="true" Bitmaps="true" Fonts="true" Video="false" Sound="false" Other="false" />
  <ShowWarnings CompImport="true" CompInstall="true" />
  <Libraries>
    <Library Provider="f45c75c7-9ffb-464f-8402-3847f4be49c4" LanguageIndex="0" DisplayContentIndex="0" NumResultsIndex="0" IsSearched="true" IsActivated="true" />
    <Library Provider="f0c6c664-a977-4a7e-85d4-7cca646970bc" LanguageIndex="0" DisplayContentIndex="0" NumResultsIndex="0" IsSearched="true" IsActivated="true" />
    <Library Provider="f3598760-89d1-427f-8333-3ffe509e7c4b" LanguageIndex="0" DisplayContentIndex="0" NumResultsIndex="0" IsSearched="true" IsActivated="true" />
    <Library xsi:type="Folder" Provider="964c5adf-6062-4225-ab93-0b883a5543e2" LanguageIndex="0" DisplayContentIndex="0" NumResultsIndex="0" IsSearched="true" IsActivated="true" Path="CDGSX6" />
  </Libraries>
  <CancelledLibraries />
  <Favorites>
    <Folder Provider="e1a3fc58-c7f3-46f4-a8b2-2ea781f48aac" LanguageIndex="0" DisplayContentIndex="0" NumResultsIndex="0" IsSearched="true" IsActivated="true" Path="F:\我的文档" />
    <Folder Provider="e1a3fc58-c7f3-46f4-a8b2-2ea781f48aac" LanguageIndex="0" DisplayContentIndex="0" NumResultsIndex="0" IsSearched="true" IsActivated="true" Path="F:\我的文档\My Pictures" />
    <Folder Provider="e1a3fc58-c7f3-46f4-a8b2-2ea781f48aac" LanguageIndex="0" DisplayContentIndex="0" NumResultsIndex="0" IsSearched="true" IsActivated="true" Path="C:\Documents and Settings\hp\桌面" />
  </Favorites>
  <ContentInstalledLocations>
    <InstalledLocation Guid="6a02825d-1f57-417e-bae9-33a8945ced78" Path="NODISC" />
    <InstalledLocation Guid="565d41e0-6d70-4630-a90b-a70ba5b022cd" Path="NODISC" />
    <InstalledLocation Guid="2c99dbed-ea96-4707-a84f-1ce60451f8ee" />
    <InstalledLocation Guid="47bfc830-14ea-4ac2-af2d-b9ec88c82a2e" />
    <InstalledLocation Guid="8e5db02e-1498-4720-be6d-029a0b05bf37" />
    <InstalledLocation Guid="0f132767-e2bc-49be-a45a-1a0a57f72a99" />
    <InstalledLocation Guid="5fd576b7-7bb2-45b5-a5de-3ea14ce87561" />
    <InstalledLocation Guid="11567fe4-812a-47e8-8c80-c4bb9deb8e02" />
    <InstalledLocation Guid="dde34d06-f280-4f1c-9dbb-3487c120d76d" />
    <InstalledLocation Guid="8f08c105-19a8-4049-8808-018845778ddd" />
  </ContentInstalledLocations>
  <CheckedFolders>
    <Searchable xsi:type="Folder" Provider="964c5adf-6062-4225-ab93-0b883a5543e2" LanguageIndex="0" DisplayContentIndex="0" NumResultsIndex="0" IsSearched="true" IsActivated="true" Path="CDGSX6" />
    <Searchable xsi:type="Folder" Provider="e1a3fc58-c7f3-46f4-a8b2-2ea781f48aac" LanguageIndex="0" DisplayContentIndex="0" NumResultsIndex="0" IsSearched="true" IsActivated="true" Path="C:\Documents and Settings\hp\桌面" />
    <Searchable xsi:type="Folder" Provider="e1a3fc58-c7f3-46f4-a8b2-2ea781f48aac" LanguageIndex="0" DisplayContentIndex="0" NumResultsIndex="0" IsSearched="true" IsActivated="true" Path="F:\我的文档" />
  </CheckedFolders>
  <SearchMRU>
    <string>men</string>
  </SearchMRU>
  <SelectedTray>F:\我的文档\Corel\Corel Content\Trays\Tray.Tray</SelectedTray>
  <LaunchLocation SearchKeyword="" LandingPage="eBrowse" SelectedTree="Favorites" BrowsedUrl="">
    <SelectedItem xsi:type="Folder" Provider="e1a3fc58-c7f3-46f4-a8b2-2ea781f48aac" LanguageIndex="0" DisplayContentIndex="0" NumResultsIndex="0" IsSearched="true" IsActivated="true" Path="F:\我的文档\Downloads" />
  </LaunchLocation>
</AppPrefs>