<?xml version="1.0" encoding="utf-8"?>
<AppPrefs xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AppFrame Width="1440" Height="840" X="0" Y="0" TreeWidth="280.3764448325262" VidWidth="1137.6235551674738" />
  <GeneralSettings Volume="0.5" LastChapter="3" LastSegment="4" LastTimeMS="0" />
</AppPrefs>